*,
*::after,
*::before {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fbc02d;
}

/* ======= PAGE ANIMATION ======= */
.homepage,
.about-page,
.portfolio-page,
.contact-page {
  animation: transitionIn 0.77s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotatex(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

/* ======= HOMEPAGE ======= */
.homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}

.homepage-greeting {
  font-size: 13em;
}

.homepage-introduction {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.footer {
  text-align: center;
  padding: 0 0 30px 0;
  font-size: 13px;
}

.footer a {
  color: #000;
  text-decoration: none;
  font-weight: 900;
}
/* ======= ABOUT PAGE ======= */
.container-about-one {
  display: flex;
  width: 80%;
  margin: 16px auto;
  min-height: 80vh;
  align-items: center;
}

.image-box {
  flex: 1;
  text-align: center;
}

.my-photo-about {
  width: 100%;
  max-width: 350px;
}

.about-one {
  flex: 1;
}

.box-one {
  margin: 25px 0;
}

.about-head {
  font-size: 43px;
  text-transform: uppercase;
}

.box-one p,
.box-two p {
  font-size: 15px;
  line-height: 150%;
  margin-top: 10px;
}

.ratatouille {
  color: #000;
  font-weight: 900;
}

.container-about-two {
  display: flex;
  width: 50%;
  margin: 40px auto 50px auto;
  align-items: center;
}

/* ======= PORTFOLIO PAGE ======= */
.portfolio-page {
  width: 70%;
  margin: 30px auto;
}

.codepen-l {
  padding: 16px 0;
  text-align: center;
}

.codepen-l a {
  text-decoration: none;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
}

.codepen-l a::after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
  border-radius: 3px;
}

.codepen-l a:hover::after {
  width: 100%;
}

.portfolio-content {
  display: grid;
  grid: auto / repeat(auto-fit, minmax(15em, 1fr));
  grid-gap: 1em;
  padding: 1em;
}

.portfolio-item {
  flex-basis: 30%;
  margin: 0;
  padding: 0;
}

.portfolio-main-info {
  padding: 10px;
}

.portfolio-title {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}

.portfolio-image,
.portfolio-lightbox__image {
  width: 100%;
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

.portfolio-desc {
  padding: 10px 0;
}

.btn {
  display: inline-block;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  border: 1px solid #000;
  box-shadow: inset 0 0 0 0 #000;
  padding: 0.5em 1em;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 10px;
}

.btn:hover {
  box-shadow: inset 150px 0 0 0 #000;
  color: #fbc02d;
}

.wip {
  padding: 10px 0 27px 0;
}

/* ======= CONTACT PAGE ======= */
.container-contact {
  display: flex;
  width: 70%;
  margin: 40px auto;
  min-height: 80vh;
  align-items: center;
  justify-content: space-evenly;
}

.contact-head {
  font-size: 43px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.contact-text p {
  font-size: 17px;
  line-height: 150%;
  margin-top: 20px;
  text-align: center;
}

.contact-text a {
  text-decoration: none;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 0 #000;
  color: #000;
  margin: 0 -0.25rem;
  padding: 0.55rem 0.55rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 2px solid #000;
}

.contact-text a:hover {
  box-shadow: inset 100px 0 0 0 #000;
  color: #fbc02d;
}

.contact-links,
.my-work-links {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.linkedin-l,
.email-l {
  padding: 0 25px;
}

.github,
.codepen {
  padding: 0 20px;
}

/* ======= NAVBAR ======= */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #fbc02d;
}

.logo {
  padding: 5px;
  border: 3px solid #000;
  font-size: 20px;
  font-weight: 900;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  color: #000;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 10px;
  position: relative;
}

.navlinks::after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
  border-radius: 3px;
}

.navlinks:hover::after {
  width: 100%;
}

.menu-btn {
  display: none;
  cursor: pointer;
}

.menu-btn div {
  width: 30px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .navbar-links {
    width: 60%;
  }

  .container-about-one {
    flex-direction: column;
    width: 60%;
  }

  .container-about-two {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .navbar-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #fbc02d;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .navbar-links li {
    opacity: 0;
  }

  .menu-btn {
    display: block;
  }

  .container-about-two {
    width: 60%;
  }

  .homepage-greeting {
    font-size: 5em;
  }

  .homepage-introduction {
    font-size: 1.2em;
    text-transform: uppercase;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line-one {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-two {
  opacity: 0;
}

.toggle .line-three {
  transform: rotate(45deg) translate(-5px, -6px);
}
