body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container,
.about-page,
.portfolio-page,
.contact-page {
  animation: transitionIn 0.7s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotatex(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 50%;
  margin: 0 auto;
}

.image-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  text-align: center;
}

.my-photo {
  width: 300px;
  box-shadow: -5px 5px #000;
}

.navigation-one {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  line-height: 300%;
  letter-spacing: 3px;
}

.navigation-one ul {
  list-style: none;
  padding-left: 20px;
}

.navlinkOne {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.container-about-one {
  display: flex;
  width: 45%;
  margin: 35px auto;
}

.about-head {
  font-size: 35px;
  text-transform: uppercase;
  margin: 0 auto 10px 0;
}

.box-one p,
.box-two p {
  font-size: 15px;
  line-height: 150%;
}

.ratatouille {
  color: #000;
  font-weight: 900;
}

.container-about-two {
  display: flex;
  width: 45%;
  margin: 35px auto;
}

/* ======= PORTFOLIO ======= */
.portfolio-page {
  width: 70%;
  margin: 30px auto;
}

.codepen-l-container {
  padding: 15px 0;
  text-align: center;
}

.codepen-l {
  text-decoration: none;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
}

.portfolio-content {
  display: grid;
  grid: auto / repeat(auto-fit, minmax(15em, 1fr));
  grid-gap: 1em;
}

.portfolio-item {
  flex-basis: 30%;
  padding: 10px;
}

.portfolio-image i {
  font-size: 50px;
}

.portfolio-title {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px 0;
}

.portfolio-desc {
  margin: 10px 0 15px 0;
  font-size: 16px;
}

.btn {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  padding: 5px;
  border: 1px solid #000;
  box-shadow: inset 0 0 0 0 #000;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: inset 150px 0 0 0 #000;
  color: #fff;
}

.container-contact {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 40px auto;
  min-height: 80vh;
}

.contact-head {
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}

.contact-text p {
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  margin-top: 20px;
}

.contact-text a {
  text-decoration: none;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 -0.25rem;
  padding: 0.55rem 0.55rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 2px solid #000;
}

.contact-text a:hover {
  box-shadow: inset 100px 0 0 0 #000;
  color: #fff;
}

.contact-links,
.my-work-links {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.linkedin-l,
.email-l {
  padding: 0 25px;
}

.github,
.codepen {
  padding: 0 20px;
}

/* Navbar Two */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #fff;
}

.navigation-two {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
}

.navlinkTwo {
  color: #000;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 10px;
  position: relative;
}

.menu-btn {
  display: none;
  cursor: pointer;
}

.menu-btn div {
  width: 40px;
  height: 1.5px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .my-photo {
    width: 200px;
  }

  .container-about-one {
    width: 70%;
  }

  .container-about-two {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .container {
    width: 100%;
  }

  .my-photo {
    width: 100px;
  }

  .navigation-one {
    line-height: 150%;
  }

  .navlinkOne {
    font-size: 13px;
  }

  .navigation-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    top: 2vh;
    right: 0;
    position: absolute;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .navigation-two li {
    opacity: 0;
  }

  .menu-btn {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinksFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toggle .line-one {
  transform: rotate(-45deg) translate(-3px, 6px);
}

.toggle .line-two {
  opacity: 0;
}

.toggle .line-three {
  transform: rotate(45deg) translate(-5px, -6px);
}
